body {
    height: 100vh;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%,#1c9be4), color-stop(50%,#ec0c1b), color-stop(0%,#1c9be4));
}

div.responsive-header {
	height: 20vh;
}

.header {
    display: block;
    width: auto;
    max-height: 100%;
    margin: auto;
}

div.responsive-robots {
	height: 70vh;
}

.robots {
    display: block;
    width: auto;
    max-height: 100%;
    margin: auto;
    cursor: pointer;
}
